.card-wrapper {
  width: 20rem;
  height: 50vh;
  background-color: #fcf6f4;
  color: black;
  padding: 1.5rem 2rem;
  margin-right: 8rem;
  border-radius: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.card-wrapper:hover {
  background-color: black;
  color: #fcf6f4;
  border: 1px solid #fcf6f4;
}

.card-title {
  font-size: calc(1em + 0.5vw) !important;
}

.card-desc {
  font-size: calc(0.8em + 0.3vw);
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.card-tags {
  border-top: 2px solid black;
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper:hover .card-tags {
  border-top: 2px solid #fcf6f4;
}

.card-tag {
  margin-right: 1rem;
  font-size: calc(0.8em + 0.3vw);
}

footer {
  display: flex;
  justify-content: space-between;
}

.card-link {
  background-color: black;
  color: #fcf6f4;
  text-decoration: none;
  padding: 0.5rem calc(2rem + 2vw);
  border-radius: 0 0 0 50px;
  font-size: calc(1em + 0.5vw);
}

.card-wrapper:hover .card-link {
  background-color: #fcf6f4;
  color: black;
}

.card-github {
  color: inherit;
  text-decoration: none;
}

.card-wrapper:hover .card-github > * {
  fill: #fcf6f4;
}
