/* .main {
  background: '';
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  font-weight: 500;
} */

.main__container {
    padding: 2rem;
}